In [1]:
import os
import re
import pickle
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
path = os.path.dirname(os.path.abspath('Transients_MetaData.ipynb'))
total_files=list()
cleaned_files=list()
ids=list()

In [4]:
for file in os.listdir("../light_curves_fausnaugh/light_curves_fausnaugh"):
    total_files.append(file)
    if bool(re.search(r"\blc_\d+[a-zA-Z]{1,5}_cleaned\b", file)):
        cleaned_files.append(file)
        ids.extend(re.findall("_(.*?)_cleaned", file))

In [4]:
print(len(cleaned_files), len(total_files), len(ids))

3836 3857 3836

In [5]:
diff = set(total_files)-set(cleaned_files)

In [6]:
diff

{'lc_2018fhw_detrended_cleaned',
 'lc_2018fvi_detrended_cleaned',
 'lc_2018hib_detrended_cleaned',
 'lc_2018hss_detrended_cleaned',
 'lc_2018kfv_detrended_cleaned',
 'lc_2019mue_detrended-detrended_cleaned',
 'lc_2019mue_detrended_cleaned',
 'lc_2019pnw_detrended_cleaned',
 'lc_2019prw_detrended_cleaned',
 'lc_2019ptv_detrended_cleaned',
 'lc_2019qmm_detrended_cleaned',
 'lc_2019qsc_detrended_cleaned',
 'lc_2019ulr_detrended_cleaned',
 'lc_2020kbq_detrended_cleaned',
 'lc_2020npk_detrended_cleaned',
 'lc_2020to_detrended_cleaned',
 'lc_2020wd_detrended_cleaned',
 'lc_2020zjf_detrended_cleaned',
 'lc_2021bix_detrended_cleaned',
 'lc_2021caf_detrended_cleaned',
 'lc_GRB191016a_cleaned'}

In [7]:
data = pd.read_csv(path+"/AT_count_transients_s1-47.txt", sep=r'\s+', header=None)
data.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,1,327.160083,-43.380019,17.800,1340.34000,SN,SNIa,2018evo,ASAS-SN,1,1,1860.105,322.643
1,1,315.033417,-40.358594,17.869,1341.92600,SN,SNIa,2018exc,ATLAS,1,1,528.652,1304.728
2,1,313.474583,-38.015594,18.781,1347.90100,SN,SNII,2018fgb,ATLAS,1,1,424.192,1751.547
3,1,332.648000,-27.250161,16.700,1331.63000,SN,SNII,2018emt,ASAS-SN,1,3,642.568,1607.839
4,1,327.584333,-26.300131,19.405,1337.96500,AT,Unclassified,2018esp,ATLAS,1,3,1303.439,1157.924
5,1,333.257750,-27.671597,18.889,1337.97100,AT,Unclassified,2018esw,ATLAS,1,3,586.494,1712.718
6,1,331.012583,-22.352822,20.790,1336.98000,AT,Unclassified,2018ewp,Pan-STARRS1,1,3,521.615,711.170
7,1,323.422667,-22.692589,20.290,1337.91300,AT,Unclassified,2018ezk,Pan-STARRS1,1,3,1692.933,332.070
8,1,327.721750,-22.455419,20.810,1344.94100,AT,Unclassified,2018fkr,Pan-STARRS1,1,3,1028.213,532.398
9,1,330.474792,-22.490219,20.660,1343.97899,AT,Unclassified,2018gau,Pan-STARRS1,1,3,613.672,701.318

In [8]:
classes = data[6].unique()

In [9]:
print(len(classes), "\n\n", classes)

26

 ['SNIa' 'SNII' 'Unclassified' 'CV' 'SLSN-I' 'AGN' 'SNIc-BL' 'SNIbn' 'SN'
 'FRB' 'SNIc' 'SNIb/c' 'SNIIn' 'SNIb' 'SNIa-91T-like' 'Mdwarf' 'SNIIb'
 'Nova' 'SNIa-91bg-like' 'Other' 'SNIIP' 'SNI' 'Varstar' 'SNII-pec'
 'SNIa-pec' 'SNIa-SC']

In [10]:
len(data[6])

4403

In [11]:
survey = data[7].unique()

In [12]:
print(len(survey), "\n\n",survey)

4400

 ['2018evo' '2018exc' '2018fgb' ... '2022gn' '2022op' '2022eg']

In [13]:
diff_ids =set(ids)- set(survey)

In [14]:
print(len(diff_ids))

566

In [15]:
classification = data[5].unique()

In [16]:
print(classification)

['SN' 'AT']

In [15]:
column_names = ["sector","ra","dec","magnitude at discovery","time of discovery in TESS JD","SN","classification",
                "IAU name","discovery survey","cam","ccd","column","row"]

In [16]:
data.columns = column_names

In [17]:
data.head()

,sector,ra,dec,magnitude at discovery,time of discovery in TESS JD,classification,IAU name,discovery survey,cam,ccd,column,row,idx
0,1,327.160083,-43.380019,17.800,1340.340,SN,SNIa,2018evo,ASAS-SN,1,1,1860.105,322.643
1,1,315.033417,-40.358594,17.869,1341.926,SN,SNIa,2018exc,ATLAS,1,1,528.652,1304.728
2,1,313.474583,-38.015594,18.781,1347.901,SN,SNII,2018fgb,ATLAS,1,1,424.192,1751.547
3,1,332.648000,-27.250161,16.700,1331.630,SN,SNII,2018emt,ASAS-SN,1,3,642.568,1607.839
4,1,327.584333,-26.300131,19.405,1337.965,AT,Unclassified,2018esp,ATLAS,1,3,1303.439,1157.924

In [18]:
data.to_csv(path_or_buf=path+"/data/Cleaned_AT_Counts_Transients.csv.gz", header=True, index=False, compression='gzip')